{% extends 'base.html.twig' %}

{% block title %}{{ 'title.log_in'|trans }}{% endblock %}

    {% block content %}

        <section class="flex-grow-1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 offset-sm-2 offset-md-2 offset-lg-3">

                        <form method="post" class="p-5 rounded shadow-xs" novalidate>

                            <h2 class="text-center mb-5">{{ 'title.login'|trans }}</h2>

                            <div class="mb-3">
                                <label for="account_email">{{ 'label.email'|trans }}</label>
                                <input type="email" value="{{ last_username }}" name="email" id="account_email"
                                       class="form-control" required autofocus>
                            </div>

                            <div class="input-group-over">
                                <div class="mb-4">
                                    <label for="account_password">{{ 'label.password'|trans }}</label>
                                    <input type="password" name="password" id="account_password"
                                           class="form-control" required>

                                    {% if error %}
                                        <div class="form-text text-danger small">
                                            <ul>
                                                <li> {{ error.messageKey|trans(error.messageData, 'validators') }}</li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="#" class="{{ error|length > 0 ? 'pt-4': 'pt-5' }} btn fs--12 shadow-none">
                                    {{ 'action.forgot'|trans }}
                                </a>
                            </div>

                            <input type="hidden" name="_target_path" value="{{ path('index') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="row">
                                <div class="col-12 mt-4">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        {{ 'action.sign_in'|trans }}
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
