{% extends 'base.html.twig' %}

{% block title %}{{ 'title.sign_up'|trans }}{% endblock %}

{% block content %}
    <section class="flex-grow-1">
        <div class="container">
            <div class="row">

                {% if app.flashes('confirmed') %}
                    <div class="container mb-7">
                        <div class="row">
                            <div class="py-lg-5 col-12 col-sm-8 col-md-8 col-lg-6 offset-sm-2 offset-md-2 offset-lg-3 text-center">
                                <h3 class="m-0">Реєстрація пройшла успішно</h3>
                                <p>На вказану вами при реєстрації адресу електронної пошти було відправлено
                                    підтвердження</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 offset-sm-2 offset-md-2 offset-lg-3">
                        <div class="p-5 rounded shadow-xs d-inline-block bg-white text-dark w-100 max-w-600">

                            <h2 class="text-center mb-5">{{ 'title.create_account'|trans }}</h2>

                            {{ form_start(form, {'attr': {
                                'method': 'POST',
                                'class':'form-label-group',
                                'novalidate': 'novalidate'
                            }}) }}
                            <div class="mb-4">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, {'attr': {
                                    'class': 'form-control',
                                    'autocomplete': 'off',
                                }}) }}
                                {% if form.email.vars.errors|length > 0 %}
                                    <div class="form-text text-danger small">{{ form_errors(form.email) }}</div>
                                {% endif %}
                            </div>
                            <div class="input-group-over">
                                <div class="mb-4">
                                    {{ form_label(form.password.first) }}
                                    {{ form_widget(form.password.first,{'attr': {
                                        'class': 'form-control',
                                        'autocomplete': 'off',
                                    }}) }}
                                    {% if form.password.first.vars.errors|length > 0 %}
                                        <div class="form-text text-danger small">{{ form_errors(form.password.first) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="input-group-over">
                                <div class="mb-4">
                                    {{ form_label(form.password.second) }}
                                    {{ form_widget(form.password.second,{'attr': {
                                        'class': 'form-control',
                                        'autocomplete': 'off',
                                    }}) }}

                                    {% if form.vars.errors|length > 0 %}
                                        <div class="form-text text-danger small"> {{ form_errors(form) }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mt-4">
                                    <button type="submit"
                                            class="btn btn-primary btn-block transition-hover-top">
                                       {{ 'action.create_account'|trans }}
                                    </button>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>

                        <div class="alert bg-white text-dark p-3 my-2 b-0 rounded d-inline-block w-100 max-w-600 shadow-xs font-weight-lighter small mb-4">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span class="fi fi-close" aria-hidden="true"></span>
                            </button>
                            {{ 'info.notification_terms'|trans }} <a href="#" class="link-muted"> Terms of Service</a>.
                            {{ 'info.notification_privacy'|trans }} <a href="#" class="link-muted">Privacy Statement</a>.
                        </div>
                    </div>
                {% endif %}

            </div>
        </div><!-- /#containar -->
    </section>

{% endblock %}
