{% extends 'base.html.twig' %}

{% block content %}
    <section class="flex-grow-1">
        <div class="container"><!--container -->
            <div class="row"><!--row -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="col-12 col-sm-8 col-md-11 m-auto">
                        <!-- flash messenger -->
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success border" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span class="fi fi-close" aria-hidden="true"></span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}

                        <h3 class="mt-3 text-center mb-5">
                            {{ 'Редагування'| trans }}
                        </h3>

                        {{ form_start(feetFormUpdate, {'attr': {
                            'method': 'POST',
                            'class':'form-label-group',
                            'novalidate': 'novalidate'
                        }}) }}

                        <!-- PERSONAL DETAIL -->

                        <div class="mb-4">
                            {{ form_label(feetFormUpdate.name) }}
                            {{ form_widget(feetFormUpdate.name, {'attr': {
                                'class': 'form-control',
                                'autocomplete': 'off'
                            }}) }}
                            {% if feetFormUpdate.name.vars.errors|length > 0 %}
                                <div class="form-text text-danger small">{{ form_errors(feetFormUpdate.name) }}</div>
                            {% endif %}
                        </div>

                        <!--IMAGE-->
                        <!--LIST TYPE : STATIC-->
                        <div class="mb-3">
                            {{ form_label(feetFormUpdate.cover) }}
                            <div class="input-group">
                                <label class="btn btn-primary btn-soft cursor-pointer position-relative">
                                    {{ form_widget(feetFormUpdate.cover, {'attr': {
                                        'data-file-ext':'jpeg, jpg, png, gif',
                                        'data-file-max-total-files':'1',
                                        'data-file-ext-err-msg':'Allowed:',
                                        'data-file-exist-err-msg':'File already exists:',
                                        'data-file-size-err-item-msg': 'File too large!',
                                        'data-file-size-err-total-msg':'Total allowed size exceeded!',
                                        'data-file-size-err-max-msg':'Maximum allowed files:',

                                        'data-file-toast-position':'bottom-center',
                                        'data-file-preview-container':'.js-file-input-container-multiple-example',
                                        'data-file-preview-img-height':'150',
                                        'data-file-preview-show-info':'false',
                                        'data-file-preview-img-cover':'true',

                                        'data-file-preview-img-cover':'true',
                                        'data-file-preview-img-cover':'true',

                                        'class': 'custom-file-input absolute-full'
                                    }}) }}

                                    <span class="group-icon">
                                       <i class="fi fi-arrow-upload"></i>
                                       <i class="fi fi-circle-spin fi-spin"></i>
                                    </span>
                                    <span>{{ 'Обрати'|trans }}</span>
                                </label>
                            </div>



                            {% if feetFormUpdate.cover.vars.errors|length > 0 %}
                                <div class="form-text text-danger small">{{ form_errors(feetFormUpdate.cover) }}</div>
                            {% endif %}
                            <!-- Ajax container : files are pushed here! -->
                            <div class="js-file-input-container-multiple-example position-relative clearfix hide-empty">
                                <!-- container -->
                                <span data-id="{{ feet.id }}" data-file-name="{{ feet.cover }}"
                                      class="js-file-input-item d-inline-block position-relative overflow-hidden text-center show-hover-container shadow-md m-2 rounded float-start">

                                <img src="{{ feet.cover }}" alt="image" class="rounded w--150 h--150">
                                </span>
                            </div>
                        </div>
                        <!--/IMAGE-->

                        <div class="mb-4">
                            {{ form_label(feetFormUpdate.description) }}
                            {{ form_widget(feetFormUpdate.description, {'attr': {
                                'class': 'form-control',
                                'autocomplete': 'off'
                            }}) }}
                            {% if feetFormUpdate.description.vars.errors|length > 0 %}
                                <div class="form-text text-danger small">{{ form_errors(feetFormUpdate.description) }}</div>
                            {% endif %}
                        </div>

                        <!--IMAGE ADD 2-->
                        <!-- AJAX IMAGE -->
                        <div class="mb-3">
                        {{ form_label(feetFormUpdate.gallery) }}
                        <div class="input-group">
                            <label class="btn btn-primary btn-soft cursor-pointer position-relative">
                                {{ form_widget(feetFormUpdate.gallery, {'attr': {
                                    'type': 'file',
                                    'data-file-ext':'jpeg, jpg, png, gif',
                                    'data-file-max-total-files':'6',
                                    'data-file-ext-err-msg':'Allowed:',
                                    'data-file-exist-err-msg':'File already exists:',
                                    'data-file-size-err-max-msg':'Maximum allowed files:',
                                    'data-file-toast-position':'bottom-center',
                                    'data-file-preview-container':'.js-file-input-container-multiple-ajax-dynamic-progress',
                                    'data-file-preview-img-height':'150',
                                    'data-file-preview-class':'show-hover-container shadow-md m-2 rounded float-start',
                                    'data-file-preview-img-cover':'true',

                                    'data-file-ajax-upload-enable':'true',
                                    'data-file-ajax-upload-url':'feet_ajax_upload_files',
                                    'data-file-ajax-upload-params':'["action","ajaxUploadImage"]["data"]',

                                    'data-file-ajax-delete-enable': 'true',
                                    'data-file-ajax-delete-url': 'feet_ajax_upload_files',
                                    'data-file-ajax-delete-params': '["action","ajaxUploadImage"]',

                                    'data-file-ajax-toast-success-txt': 'Successfully Uploaded!',
                                    'data-file-ajax-toast-error-txt': 'One or more files not uploaded!',
                                    'data-file-ajax-callback-function': '',
                                    'data-file-ajax-progressbar-custom': '',
                                    'data-file-ajax-progressbar-disable': 'false',
                                    'class': 'custom-file-input absolute-full',
                                }}) }}

                                <span class="group-icon">
                                    <i class="fi fi-arrow-upload"></i>
                                    <i class="fi fi-circle-spin fi-spin"></i>
                                </span>
                                <span>Обрати</span>
                            </label>
                        </div>
                        {% if feetFormUpdate.gallery.vars.errors|length > 0 %}
                            <div class="form-text text-danger small">{{ form_errors(feetFormUpdate.gallery) }}</div>
                        {% endif %}
                        <!--Ajax container : files are pushed here!-->

                        <div class="mt-3 js-file-input-container-multiple-ajax-dynamic-progress position-relative
                            clearfix hide-empty">

                            {% for gallery in feet.gallery %}
                                <span data-id="{{ feet.id }}" data-file-name="{{ gallery }}"
                                      class="js-file-input-item d-inline-block position-relative overflow-hidden text-center show-hover-container shadow-md m-2 rounded float-start">

                            <!-- delete button -->
                            <a href="#"
                               class="js-file-item-del position-absolute absolute-top show-hover-item left-0 z-index-2">
                                <span class="d-inline-block btn btn-sm bg-danger text-white pt--4 pb--4 pl--10 pr--10 m--1">
                                    <i class="fi fi-close m-0"></i>
                                </span>
                            </a>
                                <img src="{{ gallery }}" alt="image" class="w--150">
                                </span>

                                <!-- /PREADDED FILES -->
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /AJAX IMAGE -->
                        <div class="row">
                            <div class="col-12 mt-2">
                                <button type="submit" class="btn btn-primary btn-block transition-hover-top">
                                    {{ 'Зберегти'|trans }}
                                </button>
                            </div>
                        </div>
                </div>
                <!--/IMAGE ADD 2-->
                <!-- /PERSONAL DETAIL -->
                {{ form_end(feetFormUpdate) }}
                </div>
            </div><!--/row -->
        </div><!--/container -->
    </section>
{% endblock %}